body {
    background-color: #efefef;

}

.main {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    height: 40px;
    width: 40px;
}

.media-body {
    padding-top: 10px;
}

.media-body a {
    text-decoration: none;
}

.comment-div {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.text-decription {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.question-text {
    color: #9A9A9A;
    font-size: 12px;
}

.text-area {
    margin: 10px 0;
}

.comment-icon {
    color: #999999;
}

.comment-icon .icon {
    font-size: 15px;
    margin-right: 6px;
    cursor: pointer;
}

.comment-icon .active {
    color: #2aabd2;
}

.comment-icon .icon:hover {
    color: #2aabd2;
}

.comment-separate {
    margin-top: 0;
}

.comment-name {
    margin-top: -10px;
    font-size: 15px;
}

.comment-content {
    font-size: 17px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding: 15px;
}

.question-ralated {
    line-height: 25px;
    font-size: 16px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}

.tab-content {
    margin-top: 5px;
}

.tab-content .label-info {
    white-space: normal;
    margin: 7px;
    display: inline-block
}

.tag-div {
    margin-bottom: 15px;
}

.divcss {
    margin: 0 auto;
    text-align: center;
}